<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#">Wizard</a>
		<div id='email'> <%= current_user.name %> </div>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
		      <li class="navbar-nav mr-auto nav-item active"> <a class="nav-link" href="#"><%= link_to 'Edit Profile', edit_user_registration_path %> <span class="sr-only">(current)</span></a> </li>
			  <li class="navbar-nav nav-item"> <a class="nav-link disabled" href="#"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </a>  </li>
      	  </div>
  </nav>
</div>
<div class="container" id="button-cont">
	<div class="row">
		<div class="col-lg-12">

			<% if current_user.event_status && current_user.claim_status %>
				<%= link_to toggle_off_path, remote: true, method: :put do %>
					<%= image_tag "button.png", class: "button" %>
				<% end %>
			<% elsif current_user.event_status && current_user.claim_status == false %>
				<div class='container'>
					Waiting for a wizard...
				</div>
				<%= link_to toggle_off_path, remote: true, method: :put do %>
					<%= image_tag "button_blank.png", class: "button" %>
				<% end %>
				<%= link_to toggle_off_path, remote: true, method: :put do %>
					<%= submit_tag 'Cancel', class: "btn" %>
				<% end %>
		  <% else %>
				<%= link_to toggle_on_path, remote: true, method: :put do %>
		      <%= image_tag "green.png", class: "button" %>
		    <% end %>
			<% end %>
		</div>
	</div>
</div>
